<!-- Carts -->
<script type="text/javascript">
  <% if @page == "cart" %>
    $("#menu3").attr('class', 'current');
  <% end %>
</script>
<%= link_to("清空購物車", clean_carts_path ,
           method: :delete , class: "btn pull-right",
           style: "text-decoration: underline;",
           data: { confirm: "你確定要清空整個購物車嗎？"} )%>
<div class="products">
  <div class="cl">&nbsp;</div>
  <ul>
    <% current_cart.items.each do |product| %>
      <li>
        <%= link_to product_path(product) do %>
          <% if product.photo.present? %>
            <%= image_tag(product.photo.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>

        <div class="product-info">
          <h3><%= product.title %> </h3>
          <div class="product-desc">
            <% item = current_cart.find_cart_item(product) %>

            <%= form_for item, url: item_path(product) do |f| %>
              <%= f.select :quantity, 1..product.quantity %>
              <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
            <% end -%>
            <strong class="price">$ <%= product.price %></strong>
            <%= link_to item_path(product), method: :delete do %>
              <i class="fa fa-trash"></i>
            <% end %>
            </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="cl">&nbsp;</div>
  <div class="total clearfix">
    <span class="pull-right">
       <span> 總計 <%= render_cart_total_price(current_cart) %> NTD  </span>
    </span>
  </div>
  <div class="checkout clearfix">
    <%= link_to("確認結賬", checkout_carts_path, method: :post, class: "btn btn-lg btn-danger pull-right") %>
  </div>
</div>
<!-- End Carts -->

