<div class="content_item">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article_item">
        <h2><%= @product.title %></h2>
        <p class="infopost">Posted on <span class="date"><%= @product.created_at.to_formatted_s(:short) %></span></p>
        <div class="clr"></div>
        <div class="img">
          <% if @product.photo.present? %>
            <%= image_tag(@product.photo.image.medium.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>

        </div>
        <div class="post_content">
          <p><%= @product.description %></p>
          <p>數量 : <%= @product.quantity %></p>
          <p><div class="product-price"> $ <%= @product.price %> </div></p>
          <p class="spec">
            <% if @product.quantity > 0 %>
              <%= link_to("加入購物車", add_to_cart_product_path(@product), method: :post,
                          class: " rm btn btn-lg btn-danger") %>
            <% else %>
              已銷售一空，無法購買
            <% end %>
          </p>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
</div>
<!-- =============== -->
